venv/
.idea/
.vscode/
static_root/
priyomoney_client/local.py
*.pyc
db.sqlite3
dump.rdb
celerybeat-schedule.db
.DS_Store
*.log
static/.DS_Store
local.py
.env
.env.*
!.env.example
.coverage
.python-version
coverage.xml
junit.xml
priyo-pay-bucket.json
priyo-pay-firebase-adminsdk.json
*.csv
__pycache__
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
UCBCrypter.jar
